* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(circle at 30% 30%, rgba(99, 102, 241, 0.6), transparent 40%),
        radial-gradient(circle at 70% 70%, rgba(59, 130, 246, 0.6), transparent 40%),
        radial-gradient(circle at 50% 50%, rgba(37, 99, 235, 0.6), transparent 35%);
    background-size: 200% 200%;
    animation: moveGradient 20s ease-in-out infinite;
    background-color: #0f172a;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.todo-nav {
    width: 400px;
    height: 140px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.couter-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.counter {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter h2 {
    letter-spacing: 2px;
    font-size: 28px;
    color: rgb(21, 21, 66);
}

.text-container h1,
p {
    color: white;
}

.text-container p {
    font-size: 14px;
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: rgb(21, 21, 66);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    width: 20%;
    height: 100%;
    background-color: white;
}

.form-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.form-container input {
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.form-container input::placeholder {
    color: whitw;
}

.form-container input:focus-visible {
    outline: none;
    color: white;
}

.form-container button {
    height: 40px;
    border-radius: 40px;
    border: none;
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.form-container button svg {
    width: 24px;
    height: 24px;
    color: white;
}

.todo-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 10px;
}

.list-tem {
    width: 100%;
    height: 48px;
    background-color: rgba(21, 21, 66, 0.603);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-list-child {
    width: 70%;
    height: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    color: white;
}

.first-list-child p {
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.first-second-child {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.second-list-child {
    display: flex;
    gap: 12px;
}

.second-list-child svg {
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 0.938);
    cursor: pointer;
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

.custom-checkbox:checked {
    background-color: white;
}

.custom-checkbox:checked::after {
    content: "✔";
    font-size: 14px;
    color: rgba(21, 21, 66, 0.603);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}