* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(circle at 30% 30%, rgba(99, 102, 241, 0.6), transparent 40%),
        radial-gradient(circle at 70% 70%, rgba(59, 130, 246, 0.6), transparent 40%),
        radial-gradient(circle at 50% 50%, rgba(37, 99, 235, 0.6), transparent 35%);
    background-size: 200% 200%;
    animation: moveGradient 20s ease-in-out infinite;
    background-color: #0f172a;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-nav {
    width: 400px;
    height: 140px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.couter-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.counter {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter h2 {
    letter-spacing: 2px;
    font-size: 28px;
    color: rgb(21, 21, 66);
}

.text-container h1,
p {
    color: white;
}

.text-container p {
    font-size: 14px;
}

.progressBar {
    width: 100%;
    height: 10px;
    background-color: rgb(21, 21, 66);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    width: 20%;
    height: 100%;
    background-color: white;
}